# compiled output
*/dist
*/node_modules

# Logs
*/logs
*/*.log
*/npm-debug.log*
*/pnpm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
*/lerna-debug.log*

# OS
*/.DS_Store

# Tests
*/coverage
*/.nyc_output

# IDEs and editors
*/.idea
*/.project
*/.classpath
*/.c9/
*/*.launch
*/.settings/
*/*.sublime-workspace

# IDE - VSCode
*/.vscode/*
*/!.vscode/settings.json
*/!.vscode/tasks.json
*/!.vscode/launch.json
*/!.vscode/extensions.json


## frontend

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

frontend/# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?